.home-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-inner-container {
    background: #191970;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 55% 100%);
}

.home-float-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.home-float-container img{
    width: 20vw;
    object-fit: contain;
    animation: float-icon 3s infinite ease-in-out ;
}

@keyframes float-icon{
    0% { 
        transform: translate(0,  0px); 
        filter: drop-shadow(5px 10px 10px rgba(0,0,0,.7));
    } 
    50%  { 
        transform: translate(0, 10px); 
        filter: drop-shadow(5px 5px 10px rgba(0,0,0,.7));
    } 
    100%   { 
        transform: translate(0, -0px); 
        filter: drop-shadow(5px 10px 10px rgba(0,0,0,.7));
    }   
}

.home-title{
    display: flex;
    align-items: center;
}

.home-title img{
    width: 70px;
    object-fit: contain;
    margin: 10px;
}

.home-title p{
    display: flex;
    flex-direction: column;
}

.home-title p span{
    font-size: 1.25rem;
}

.home-content{
    position: absolute;
    margin-left: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    font-weight: bold;
    width: 400px;
}

.home-nav{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: 20px;
}

.home-nav span{
    color: rgba(255, 255, 255, .4);
    margin: auto 10px;
    box-sizing: border-box;
    padding: 5px 20px;
    border: 1px transparent solid;
    cursor: pointer;
    transition: all .3s ease-out;
}

.home-nav span:hover{
    color: rgba(255, 255, 255, 1);
}