.home-header{
    display: flex;
    margin: 10px;
    height: fit-content;
    align-items: center;
    position: relative;
    z-index: 15;
}

.home-chakra-icon{
    width: 70px;
    object-fit: contain;
}

.home-title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.home-title span{
    font-weight: 500;
    font-size: 1.35rem;
}

.home-title span:first-child{
    font-size: 1.55rem;
}

.home-spacer{
    flex: 1;
}

.home-nav span{
    margin: auto 10px;
    color: white;
    z-index: 100;
}