.hover-container{
    background-image: url('https://images.unsplash.com/photo-1566373657101-4acacf4f753e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1044&q=80');
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 80% 100%);
}