*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  height: 100vh;

  background: whitesmoke;
}
