*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  margin: 10px;
  padding: 0px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;

  background: whitesmoke;
}
