*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  margin: 40px;
  background: rgba(216, 229, 242, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;

  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}

.hover-container{
  filter: drop-shadow(15px 15px 10px rgba(0,0,0,.7));
  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 30px;
  
  z-index: 7;

  /* display: none; */
}

.hover-wrapper{
  background-image: url('https://images.unsplash.com/photo-1566373657101-4acacf4f753e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1044&q=80');
  background-position: 50% 50%;
  background-size: cover;

  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 70% 100%);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  z-index: 10;
}

.hover-container::after{
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 10px;
  background: #67D2E9;
  /* background: red; */
  filter: brightness(40%);
  clip-path: polygon(60% 0%, 90% 0%, 85% 100%, 58% 100%);
}

.hover-container::before{
  content: '';
  position: absolute;
  bottom: 0;  
  width: 100%;
  height: 10px;
  background: #67D2E9;
  /* background: red; */
  filter: brightness(40%);
  clip-path: polygon(100% 100%, 70% 100%, 68% 0%, 98% 0%);
}